.booking__form-container {
    width: 470px;
    height: 427px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: auto;
}

.booking__form input {
    width: 422px;
    height: 60px;
    background: #F2F2F2;
    padding-left: 22px;
    border-radius: 5px;
    border: none;
    margin-left: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.booking__form p {
    margin-left: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #818181;
    margin-top: 13px;
    margin-bottom: 9px;
}

#start-booking {
    width: 422px;
    height: 60px;
    background: #F9A51A;
    border-radius: 5px;
    margin-top: 27px;
}

.from-to input {
    width: 194px;
    padding-right: 20px;
}

.to p, .to input {
    margin-left: 0;
}

.from-to input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('../../resourses/Icon/calender_icon.png') no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 22px;
    border-width: thin;
    margin: 0;
    padding: 0;
}